@use './partials/variables' as *;
@import '~bootstrap/scss/bootstrap';
@import './partials/fonts/roboto.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.image_container {
  width: 80%;
}

.button_style {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  border-radius: 100px;
  padding: 0.5rem 0;
}

.btn_primary {
  background-color: $color-accent;
  color: white;

  a {
    color: white;
  }

  &:hover {
    background-color: $color-accent;
    color: white;
  }
}

.btn_secondary {
  background-color: white;

  a {
    color: $color-accent;
    color: white;
    ;
  }

  border: 1px solid $color-accent;
  color: white;
  ;

  &:hover {
    background-color: $color-accent;
    ;

    a {
      color: white;
    }
  }
}

.link {
  color: $color-accent;
}