@use './partials/variables' as *;
@import '~bootstrap/scss/bootstrap';
@import './partials/fonts/roboto.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.add_btn,
.back_btn {
  border: none;
  border-radius: 100%;
  aspect-ratio: 1;
  background-color: transparent;
  padding-top: 0.5rem;
}

.image_container {
  width: 80%;
}

.account_icon {
  font-variation-settings: 'FILL' 1;

  &:hover {
    cursor: pointer;
  }
}

.calendar_icon {
  font-variation-settings: 'FILL' 1;

}

.button_style {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  border-radius: 100px;
  padding: 10px 16px 10px 16px;
}

.btn_primary {
  background-color: $color-primary;
  color: white;

  a {
    color: white;
  }

  &:hover {
    background-color: #806bb5;
    color: white;

    a {
      color: white;
    }
  }
}

.btn_secondary {
  background-color: white;
  color: $color-primary;

  a {
    color: $color-primary;
  }

  border: 1px solid $color-primary;


  &:hover {
    background-color: $color-primary;
    color: white;

    a {
      color: white;
    }
  }
}

.btn_add_stage {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  border-radius: 100px;
  padding: 10px 24px 10px 16px;
  background-color: $color-primary;
  color: white;
  height: 40px;
  width: 92px;

  &:hover {
    background-color: #806bb5;
    color: white;
  }
}

.link {
  color: $color-primary;
}