#triggerId {
  border: none;
  background-color: transparent;
  padding-top: 0.2rem;
}

.travel_card {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #cac4d0;
  padding: 1rem;
  text-decoration: none;

  a {
    .card_image {
      flex-basis: 25%;

      img {
        border-radius: 1.3rem;
        object-fit: cover;
      }
    }

    .card_body {
      .travel_name {
        font-size: 1.1rem;
        font-weight: 450;
      }

      div {
        font-size: 0.9rem;
      }

      .calendar_icon,
      .destination_icon {
        font-size: 1.3rem;
      }


    }
  }

  .card_actions {
    .actions_icon:hover {
      cursor: pointer;
    }
  }
}