.add_btn {
  border: none;
  border-radius: 100%;
  aspect-ratio: 1;
  background-color: transparent;
  padding-top: 0.5rem;
}

#triggerId {
  border: none;
  background-color: transparent;
  padding-top: 0.2rem;
}