.input_wrapper {
  display: flex;
  flex-direction: column;
  position: static;

  .input_label {
    font-size: 0.8rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    position: relative;
    top: 0.6rem;
    margin: 0 0 0 7px;
    padding: 0 3px;
    background-color: #fef7ff;
    width: fit-content;
  }

  .form-control {
    padding: 1rem 0.5rem;
    font-size: 0.75rem;
    border: 1px #65558f solid;
    border-radius: 5px;

    &:focus {
      border: 1px #65558f solid;
      outline: none;
      box-shadow: none;
    }
  }
}