@use '../variables' as *;


/* #region ::::: HEADER ::::: */

/* #region ::::: TRAVEL IMAGE ::::: */

.header_image {
  width: 100%;
  transition: height 0.3s ease;
  background-color: #dadce0;

  .title_bar {
    position: absolute;
    z-index: 4;
  }

  img {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }

  .foreground {
    position: absolute;
    transition: all 0.4s ease;
    top: -62%;
    z-index: 3;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent 50%);
  }

  .chips {
    position: absolute;
    top: 23%;
    left: -2%;
    z-index: 4;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 65%;
    padding: 1rem;
    transition: top 0.3s ease;

    .custom_badge {
      display: flex;
      align-items: start;
      font-size: 0.9rem;
      font-weight: 450;
      padding: 0.4rem 0.7rem 0.3rem 0.3rem;
      background: #F7F2FA;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),
        0px 1px 3px 1px rgba(0, 0, 0, 0.15);
      border-radius: 8px;

      .calendar_icon,
      .destination_icon {
        font-size: 1.3rem;
        color: $color-primary;
      }

      .calendar_icon {
        font-variation-settings: 'FILL' 1;
      }
    }
  }
}

/* #endregion ::::: TRAVEL IMAGE ::::: */

/* #region ::::: MAP ::::: */
#map {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  transition: top 0.3s ease;
}

#exitStreetView {
  display: none;
  z-index: 1000;
  border: none;
  background-color: transparent;
}

.custom-overlay {
  position: absolute;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

  .custom-overlay-content {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
}

.mapboxgl-popup-anchor-right {
  .mapboxgl-popup-tip {
    border-left-color: $color-secondary;
  }
}

.mapboxgl-popup-anchor-left {
  .mapboxgl-popup-tip {
    border-right-color: $color-secondary;
  }
}

.mapboxgl-popup-anchor-bottom {
  .mapboxgl-popup-tip {
    border-top-color: $color-secondary;
  }
}

.mapboxgl-popup-anchor-top {
  .mapboxgl-popup-tip {
    border-bottom-color: $color-secondary;
  }
}

.mapboxgl-popup-anchor-bottom-right {
  .mapboxgl-popup-tip {
    border-right: none;
    border-top-color: $color-secondary;
  }
}

.mapboxgl-popup-anchor-bottom-left {
  .mapboxgl-popup-tip {
    border-left: none;
    border-top-color: $color-secondary;
  }
}

.mapboxgl-popup-anchor-top-right {
  .mapboxgl-popup-tip {
    border-right: none;
    border-bottom-color: $color-secondary;
  }
}

.mapboxgl-popup-anchor-top-left {
  .mapboxgl-popup-tip {
    border-left: none;
    border-bottom-color: $color-secondary;
  }
}

.marker_popup {

  .mapboxgl-popup-content {
    background-color: $color-secondary;
    padding: 0.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
  }
}

/* #endregion ::::: MAP ::::: */

/* #endregion ::::: HEADER ::::: */

/* #region ::::: TRAVEL DETAILS ::::: */

.travel_details {
  position: absolute;
  top: 38vh;
  left: 0;
  width: 100%;
  height: calc(100vh - 34vh);
  transition: all 0.4s ease;
  z-index: 1;
  background-color: white;
  padding: 1rem;
  // box-shadow: 0px -4px 10px -2px grey;
}

// Drag handle
#drag_handle {
  cursor: grab;
  display: block;
  margin: 1rem auto;
  width: 40px;
  height: 5px;
  background-color: grey;
  border-radius: 1rem;
  border: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  &:active {
    cursor: grabbing;
  }
}

// Top bar
.top_bar {
  padding: 0.5rem 0 1rem 0;

  .title {
    font-size: 1.1rem;
  }

  .map_btn {
    border: none;
    border-radius: 100%;
    aspect-ratio: 1;
    background-color: transparent;
    padding: 0.3rem 0.4rem;
    line-height: 0px;

    &.active {
      background-color: $color-primary;
      color: white;
    }
  }

}

// Accordion
.accordion {
  width: 100%;
  margin-bottom: 2rem;
  background-color: $color-tertiary;
  border-radius: 10px;

  .accordion_item {
    .accordion_header {
      font-weight: 500;
      color: #49454F;
    }

    .accordion_content {
      max-height: 0;
      overflow: hidden;
      font-size: 0.9rem;
      transition: all 0.5s ease-in-out;

      p {
        margin: 0;
      }
    }

    &.active .accordion_content {
      padding-top: 0.5rem;
      max-height: 200px;
    }

    &.active .triangle_icon {
      transform: rotate(180deg);
    }
  }
}

// Week Days
.days {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 10px;

  .day_badge {
    flex: 0 0 auto;
    min-width: 65px;
    text-align: center;
    cursor: pointer;
    align-items: center;
    border: 1px solid #79747E;
    border-radius: 8px;
    padding: 0.2rem 0.6rem;
    font-size: 0.9rem;
    font-weight: 450;

    &.selected {
      background-color: $color-secondary;
    }
  }
}

// Days
#day_label {
  font-weight: 500;
  color: #49454F;
}

.days_title {
  font-weight: 500;
  color: #49454F;
}

// Stage form
#suggestions {
  position: absolute;
  z-index: 1000;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;

  #suggestions .list_group_item {
    cursor: pointer;

    &:hover {
      background-color: #f0f0f0;
    }
  }
}

// Stage cards
.stage_card {
  display: flex;
  align-items: center;
  border: 1px solid #cac4d0;
  text-decoration: none;
  border-radius: 1.3rem;
  background-color: $color-stage;

  a {
    .card_image {
      flex-basis: 30%;

      img {
        height: 100%;
        border-radius: 1.3rem 0 0 1.3rem;
        object-fit: cover;
      }
    }

    .card_body {
      flex-basis: 70%;

      .stage_name {
        font-size: 1.1rem;
        font-weight: 450;
      }

      div {
        font-size: 0.9rem;
      }

      .calendar_icon,
      .destination_icon {
        font-size: 1.3rem;
      }


    }
  }

  .card_actions {
    .actions_icon:hover {
      cursor: pointer;
    }
  }

}

/* #endregion ::::: TRAVEL DETAILS ::::: */